@page "/endgame"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>End Screen</PageTitle>

@*
    This is the EndScreen component that will be displayed when the game ends.
    It will display a message and a button to restart the game.
    Optionally, we can add the player's score and even a leaderboard along with
    some stats about the game such as how long it took to complete the game and
    how many moves the player made.
*@

<h1>Game Over</h1>

<div class="end-screen">
    <p>Thanks for playing!</p>
<p><a style="" href= "/">View Leaderboard</a></p>
</div>


<button @onclick="@(async () => NavigationManager.NavigateTo("/game"))">Let's Play Again!</button>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}