@page "/endgame"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>End Screen</PageTitle>


<h1>Game Over</h1>

<div class="end-screen">
    <p>Thanks for playing!</p>
<p><a style="" href= "/">View Leaderboard</a></p>
</div>


<button @onclick="@(async () => NavigationManager.NavigateTo("/game"))">Let's Play Again!</button>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}