@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@*
    This is the SplashScreen component that will be displayed when the game starts.
    It will display a welcome message and a button to start the game.
    Optionally, we can add some instructions or a brief description of the game here
    along with other options such as settings for the game including type of and number
    of cards, and difficulty level.
*@

<PageTitle>Splash Screen</PageTitle>

<h1>Welcome to Memory Game!</h1>

<div class="splash-screen">
    <p>
        Memory Game is an adaptation of the classic memory card game. The game is set on a board with an even amount of cards placed in a grid face-down. Each turn consists of flipping two cards. If they match, they remain face up. If they don't, they will flip back over on the next selection. Once all of the matches have been found, you WIN! You may restart the game to try and better your score or challenge a friend!
    </p>
</div>

<button @onclick="GoToGameScreen">Let's Play</button>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
protected void GoToGameScreen()
    {
        NavigationManager.NavigateTo("/game");
    }
}